body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: #2B2E40;
  float: left;
  position: fixed;
  width: 100%;
}

figcaption {
  font-size: 90%;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  line-height: 2;
  text-transform: capitalize;
}

h3 {
  font-size: 1.2em;
  line-height: 1.2;
}

p {
  line-height: 1.4;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.author {
  font-weight: bold;
  line-height: 2.5;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

a:hover {
  color:#F94E18;
}
